html {
    --green-1: #75ba1e;
    --green-2: #66aa11;
    --green-3: #599c06;
    --white-1: #fafbfc;
    --white-2: #ecedee;
    --white-3: #dcddde;
    --black-1: #404b52;
    --black-2: #313b42;
    --black-3: #232c33;
  }

  .container {
    /*max-width: 1000;
    margin-left: left;
    margin-right: right;
    padding-left: 1rem;
    padding-right: 1rem;*/

    grid-template-columns: 20px 25px auto 25px 20;
    grid-template-rows: 15% 100px auto;
  
  }
  /* HEADER */
  
  .header {
    position:relative;
    top: 0;
    width: 100%;
    padding: 1.25rem 0;
    background-color: #E2F6D9;
    /*background: linear-gradient(135deg, var(--blue-1), var(--blue-3));
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);*/
    z-index: 100;
    padding-right: 35px;
  }

  img{
    width:240px;
    height:144px;
    padding-left: 35px;
  }
  
  .header-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    
  }
  
  .header ul {
    display: flex;
    list-style-type: none;
  }
  
  .header li + li {
    margin-left: 3rem;
    float: right;
	  position: relative;

  }
  
  .header li a {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold

    line-height: 1;
    color: #232c33;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 1px 0;
    transition: 0.1s ease-out;
    text-decoration: solid;
    margin-left: 10px;
    list-style: none;
    font-weight: 400;
   
  }
  
  .header li a:hover,
  .header li a.ativo {
    border-bottom: 2px solid rgb(15, 15, 15);
  }

  .grid{
    display: grid;
    /*grid-template-columns: 1fr ;*/
    grid-template-rows:  1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .containerArtigo{
    background-color: #3F5C31;
    display: block;

  }

  .containerParceiros{
    background-color: #ffff;
  }

  

/*.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #6dbe99;
    background-size: cover;
}

.menu_nav{
    display: flex;
    align-items:left;
    justify-content:left;
    height: 100px;
    background: url(./Logo/ArchiPlano_logo_FT.png) no-repeat right left;
    background-size: cover;
}*/
